header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    color: antiquewhite;
}
.headimg{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 160px;
}
.flexcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    height: 740px;
    justify-content: space-around;
    margin-top: 2px;
}

.backgroundimg{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 740px;
    margin-top: 2px;
}

#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 6px;
    border-style: groove;
    border-width: 10px;
    border-radius: 10px;
    width: 600px;
    height: 500px;
    background-image: linear-gradient(to bottom right,skyblue,violet);
}

#aboutme p{
    max-width: 400px;
}

.aboutmeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#face{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-radius: 20px;
    border-width: 6px;
    border-style: groove;
    height: 160px;
    width: 100px;
}
.np{
    display: flex;
    align-items: center;
}

#ngeeann{
    display: flex;
    margin: 5px;
    border-style: groove;
    border-width: 6px;
    border-radius: 20px;
    width: 400px;
    height: 40%;
}

.adjheaderCenter{
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 640px) { 

    .aboutmeContainer{
        flex-direction: column;
    }
}

.imageContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.imageItem{
    border-radius: 10%;
    padding: 2%;
    flex-grow: 1;
    flex-basis: 15%;
    display: flex;
	flex-direction: column;
	border: 1px solid #D3D3D3;
}

.imageItem img{
    border-radius: 10%;
    max-width: 100%;
}

@media screen and (max-width: 620px){
    .imageItem{
        flex:0 42%;
    }
}

@media screen and (max-width: 432px){
    .imageItem{
        flex:0 60%;
    }
}

.moreinfoContainer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-style: dotted;
}